
<app-header></app-header>

<div class="home22">
    <div class="spaccing"></div>
<div class="homebanner">

    <div>
        <div class="homedata ">
            <h3 style="font-family: 'Cabin', sans-serif;">Course Management System</h3>
        <p></p>
        <div class='buttonContainer text-center'>
            <button (click)="login()" id='accept' class="me-2 shadow">Login</button>
            <button (click)="signup()" id='cancel' class="shadow">SignUp</button>
          </div>
        </div>
        
        </div>
    </div>
</div>

<app-course></app-course>





<app-footer></app-footer>