<div class="addcourseqwerty">


    <div class="d-flex justify-content-center">
        <div class="formsin shadow">

            <form #form="ngForm" (ngSubmit)="form.valid && messagealert()">
                <div class="mb-5">
                    <h4 class="text-center">Add Course</h4>
                </div>
                <div class="mb-3">
                    <label class="form-label">Course Name</label>
                    <input type="string" class="form-control" required #course="ngModel" name="course" [(ngModel)]="coursedata.title ">
                <small class="text-danger" *ngIf="form.submitted&&course.errors?.['required']">*Course Name required</small>
            
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Image Url</label>
                    <input type="string" class="form-control" required #imageurl="ngModel" name="imageurl" [(ngModel)]="coursedata.image">
                <small class="text-danger" *ngIf="form.submitted&&imageurl.errors?.['required']">*Image Url required</small>
            
                  </div>
                    
                <div class="mb-3">
                    <label  class="form-label">Description</label>
                    <textarea type="string" class="form-control" row="20" required #message="ngModel" name="message" [(ngModel)]="coursedata.description"></textarea>
                    <small class="text-danger" *ngIf="form.submitted&&message.errors?.['required']">*Description required</small>

                </div>

                  <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-primary">Add Course</button>

                  </div>
              </form>
        </div>

</div>

</div>
