.studenthome{
    min-height: 90vh;
    overflow-x: hidden;
}
.head{
    margin-top: 15vh;
    text-align: center;
  }
  .contnt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
   color: grey;
   padding: 35px;
   padding-top: 0px;
   
    
  }