<div class="studenthome ">
  
    <div  class="homedata row" style="display: flex;">
        <div class="col-12 col-md-6 mb-5" ><h1 class="head">WELCOME TO CMS</h1><br><br>
        <div class="contnt">Course Mangement System (CMS) is a platform to help students to get registered for different courses from different professors, students can receive study materials and also receieve notification about their course from their respective professors</div>
        </div>
        <div class="col-12 col-md-6 " >
        <img class="pt-3" src="https://img.freepik.com/free-photo/learning-education-ideas-insight-intelligence-study-concept_53876-120116.jpg?size=626&ext=jpg&ga=GA1.2.923764785.1664256997">
        </div>
    </div>


</div>