<div class="studentreqqwerty">

    <nav class="navbar navbar-expand-lg navbar-light">
        <h4 class="px-2 py-2 mt-2 mx-2"><i class=" fa fa-message fa-md "></i>
            STUDENT REQUEST</h4>
    </nav>
    
   <div class="table22">
    <table class="table table-bordered table-hover shadow">
        <thead class="bg-info">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Qualification</th>
                <th scope="col">Email</th>
                <th scope="col">Course</th>
                <th class="text-center" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let student of studentData">
                <td>{{student.username}}</td>
                <td>{{student.qualification}}</td>
                <td>{{student.email}}</td>
                <td>{{student.course}}</td>
                <td class="text-center">
                    <button (click)="approvestudent(student)" class="btn btn-success me-2 shadow"><i class="fa-solid fa-check"></i>PROCEED </button>
                    <button class="btn btn-danger shadow" (click)="rejectstudent(student)"><i class="fa-solid fa-xmark"></i> REJECT</button>

                </td>
                
            </tr>
        </tbody>
    </table>
</div>
</div>
