<nav class="shadow navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <div class="container-fluid">
        <div class="mx-5 d-flex">
            <div><a class="navbar-brand" routerLink=""><img   src="https://gallery.kissclipart.com/20201125/eq/kissclipart-student-icon-back-to-school-icon-graduation-hat-ic-421311dd255d32ba.jpg" style="width:65px;border-radius: 10px;" alt=""></a></div>
             <div><h4 class="mt-3 hddn" style="color:white;">Course Management System</h4></div>
        </div>      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2">
                <li class="nav-item mx-3">
                  <a class="nav-link active" aria-current="page" routerLink="" >Home</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active"  routerLink="/course">Courses</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/aboutus"  >About Us</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/login"  >LogIn</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/signup" >SignUp</a>
                </li>
              </ul>
        <div>
        </div>
      </div>
    </div>
    </nav>