<div class="approvedstudents">

    
    <nav class="navbar navbar-expand-lg navbar-light">
        <h4 class="px-2 py-2 mt-2 mx-2"><i class="fa-solid fa-address-card fa-md "></i>
          APPROVED STUDENT</h4>
    </nav>
    
   <div class="table22">
    <table class="table table-bordered table-hover shadow">
        <thead class="bg-info">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Qualification</th>
                <th scope="col">Course</th>
                <th scope="col">Address</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let student of studentData">
                <td class="text-uppercase">{{student.username}}</td>
                <td>{{student.email}}</td>
                <td>{{student.qualification}}</td>
                <td>{{student.course}}</td>
                <td >{{student.address}}</td>
                <td >{{student.phonenumber}}</td>
                <td class="text-center iconcol"><i (click)="rejectstudent(student)" class="fa-solid fa-trash fa-lg"></i></td>

                
            </tr>
        </tbody>
    </table>
</div>

</div>
