<footer class="footer-section">
    <div class="container">
        
        <div class="footer-content pt-4 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                       
                        <div class="footer-text">
                           <h3>Course Management System</h3>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li style="  float: left;"  ><a routerLink="">Home</a></li>
                            <li style="  float: left;"  ><a href="">courses</a></li>
                            <li  style="  float: left;"><a href="aboutus">aboutus</a></li>
                            <li style="  float: left;"    ><a href="login">login</a></li>
                          
                       
                            <li  style="  float: left;"  ><a href="#">signup</a></li>
                           
                            <li  style="  float: left;"  ><a href="#">Our Services</a></li>
                           
                            <li style="  float: left;"   ><a href="#">Contact us</a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                   
                        </div>
                    </div>
                </div>
            </div>
       
   
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2022, All Right Reserved   CMS</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a routerLink="">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>